<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Professional Front Page</title>
</head>

<body>
    <header>
        <h1 class="slogan">जय जवान जय किसान</h1>
    </header>
    <main>
        <form method="POST" action="/">
            <div class="form-field">
                <label for="field1">Enter amount of nitrogen:</label>
                <input type="number" id="field1" name="field1" required>
            </div>
            <div class="form-field">
                <label for="field2">Enter amount of Phosphorus:</label>
                <input type="number" id="field2" name="field2" required>
            </div>
            <div class="form-field">
                <label for="field3">Enter amount of Potassium:</label>
                <input type="number" id="field3" name="field3" required>
            </div>
            <div class="form-field">
                <label for="field4">Enter Humidity:</label>
                <input type="number" id="field4" name="field4" required>
            </div>
            <div class="form-field">
                <label for="field5">Enter Temperature:</label>
                <input type="number" id="field5" name="field5" required>
            </div>
            <div class="form-field">
                <label for="field6">Enter Moisture:</label>
                <input type="number" id="field6" name="field6" required>
            </div>
            
            <!-- Dropdown 1 -->
            <div class="form-field">
                <label for="dropdown1">Choose soil type:</label>
                <select id="dropdown1" name="dropdown1">
                    <option value=0>Black</option>
                    <option value=1>Clayey</option>
                    <option value=2>Loamy</option>
                    <option value=3>Red</option>
                    <option value=4>Sandy</option>

                </select>
            </div>

            <!-- Dropdown 2 -->
            <div class="form-field">
                <label for="dropdown2">Choose crop type:</label>
                <select id="dropdown2" name="dropdown2">
                    <option value=0>Barley</option>
                    <option value=1>Cotton</option>
                    <option value=2>Ground Nuts</option>
                    <option value=3>Maize</option>
                    <option value=4>Millets</option>
                    <option value=5>Oil Seeds</option>
                    <option value=6>Paddy</option>
                    <option value=7>Pulses</option>
                    <option value=8>Sugarcane</option>
                    <option value=9>Tobacco</option>
                    <option value=10>Wheat</option>
                </select>
            </div>

            <input type="submit" class="submit-button">
        </form>

    </main>
</body>

</html>